.wrapper {
  :global(.xocho-swiper .swiper-pagination-bullet) {
    background: #DC2626;
    opacity: 0.45;
  }

  :global(.xocho-swiper .swiper-pagination-bullet-active) {
    opacity: 1;
  }

  :global(.xocho-pagination .swiper-pagination-bullet) {
    background: #DC2626;
    opacity: 0.45;
  }

  :global(.xocho-pagination .swiper-pagination-bullet-active) {
    opacity: 1;
  }

  :global(.xocho-pagination) {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 10;
  }

  :global(.xocho-pagination .swiper-pagination-bullet) {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
  }

  :global(.xocho-swiper .swiper-button-prev::after),
  :global(.xocho-swiper .swiper-button-next::after) {
    color: #DC2626;
  }

  :global(.xocho-swiper .swiper-button-prev),
  :global(.xocho-swiper .swiper-button-next) {
    color: #DC2626;
  }

  :global(.xocho-swiper .swiper-button-next) {
    right: -12px;
  }
  :global(.xocho-swiper .swiper-button-prev) {
    left: -12px;
  }
}
